<!DOCTYPE html>
<html dir="ltr" lang="en-us">
  <head>
    <title>Suggestion Or Feature Request</title>
    <style>
      p {
          text-align: left;
          font-family: Arial;
          font-size: 12pt;
      }
    </style>
  </head>
  <body>
    <p>Dear {{ display_name }};</p>
    <p>
      Thank you for providing us with your suggestion.  We have recorded
      your suggestion and will look into implementing it in the near future.
    </p><p>
      Depending on the nature of the request, we may also contact you with
      additional information that may be of use to you.
    </p><p>
      Thank you.
    <p>
  </body>
</html>
