<!DOCTYPE html>
<html dir="ltr" lang="en-us">
  <head>
    <title>Support Request</title>
    <style>
      p {
        text-align: left;
        font-family: Arial;
        font-size: 12pt;
      }
    </style>
  </head>
  <body>
    <p>Dear {{ display_name }};</p>
    <p>
      Thank you for contacting us regarding your support request.  We service
      requests in the order that they are received and will respond to your
      request as soon as possible.
    </p><p>
      Please note that we are a small company with limited resources so we may
      require some time to respond to your request.  Please know that
      addressing our customer's needs is our first priority so we will respond
      as soon as we are able.
    </p><p>
      Thank you.
    <p>
  </body>
</html>
